<footer>
    <hr>
    <div class="container footop">
        <div class="row">
            <div class="col">
                <h4>Additional Info</h4>
                <ul >
                    <li><a href="" class="foot">Legal & Policies</a></li>
                    <li><a href="" class="foot">Privacy Policy</a></li>
                    <li><a href="" class="foot">Privacy Rights</a></li>
                    <li><a href="" class="foot">Return Policy</a></li>
                    <li><a href="" class="foot">Terms and Conditions</a></li>
                    <li><a href="" class="foot">Contact Us</a></li>
                    <li><a href="" class="foot">Events</a></li>
                    <li><a href="" class="foot">Our Team</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Payment Methods</h4>
                <ul >
                    <li><a href="" class="foot">MasterCard</a></li>
                    <li><a href="" class="foot">PayPal</a></li>
                    <li><a href="" class="foot">Visa</a></li>
                    <li><a href="" class="foot">American Express</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Connect With Us</h4>
                <ul >
                    <li><a href="" class="foot">Like Us On Facebook</a></li>
                    <li><a href="" class="foot">Follow Us On Twitter</a></li>
                    <li><a href="" class="foot">What We Like on Pinterest</a></li>
                    
                </ul>
            </div>
            <div class="col">
                <h3>Sanskriti Arts</h3>
                <p class="lead" style="font-size:large; white-space: pre-line;">
                    2nd Floor, Phoenix,
                    Opp. New Girish Cold Drinks,
                    Near Vijay Cross Roads, Navrangpura,
                    Ahmedabad - 380 009. (INDIA)
                    Tel: +91-9712979034</p>
            </div>
        </div>
    </div>
    <hr>
    <p class="lead" style="font-size: medium;text-align: center;">Copyright © 2022 Sanskriti Art Private Limited</p>   
</footer>


