.carousel{
    padding-top: 3%;
    padding-bottom: 5%;
}
#carouselExampleIndicators{
    background-color: rgb(244, 244, 244);
}
#scrollspyHeading2{
    text-align: center;
    padding-top: 4%;
}
.row{
    padding-bottom: 2%;
}
#scrollspyHeading4{
    white-space:pre-line;
    text-align: center;
    padding-top: 4%;
}
.lead{
    text-align: justify;
    
}
.card-img{
    width: 400px;
    height: 250px;
}
.card{
    width: 400px;
    height: 250px;
}