  <!-- Scrollspy -->

  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div id="scrollspyHeading1"></div>
    <!-- Carousal starts here -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 0"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.archerindia.com/pub/media//banners/Serigraphs_2.jpg" style="height: 550px; padding-left: 100px; padding-right: 100px;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.archerindia.com/pub/media//banners/Originals_1.jpg" style="height: 550px; padding-left: 100px; padding-right: 100px;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.archerindia.com/pub/media//banners/Lithographs_3.jpg" style="height: 550px;  padding-left: 100px; padding-right: 100px;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.archerindia.com/pub/media//banners/Traditional_and_Folk_art.jpg" style="height: 550px;  padding-left: 100px; padding-right: 100px;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.myindianart.com/uploads/banner/floral-WEB.jpg" style="height: 550px;  padding-left: 100px; padding-right: 100px;" class="d-block w-100" alt="...">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousal ends here -->

      <!-- Collections Starts here -->
    <h4 id="scrollspyHeading2" class="display-4 mb-4">Featured Collections</h4>
    <div class="container">
        <div class="row">
                <div class="col-sm">      
                    <div class="card mb-3">
                        <img class="card-img center" src="https://www.artzolo.com/sites/default/files/homepage/figurative.jpg" alt="">
                        <a href="figuratives" class="stretched-link"></a>
                    </div>
                </div>

                <div class="col-sm">      
                    <div class="card mb-3">
                        <img class="card-img center" src="https://www.artzolo.com/sites/default/files/paintings.jpg" alt="">
                        <a routerLink="paintings" class="stretched-link"></a>
                    </div>
                </div>

                <div class="col-sm">      
                    <div class="card mb-3">
                        <img class="card-img center" src="https://www.artzolo.com/sites/default/files/homepage/ghat.jpg" alt="">
                        <a href="ghats" class="stretched-link"></a>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="col-sm">      
                <div class="card mb-3">
                    <img class="card-img center" src="https://www.artzolo.com/sites/default/files/homepage/watercolors.jpg" alt="">
                    <a href="watercolors" class="stretched-link"></a>
                </div>
            </div>

            <div class="col-sm">      
                <div class="card mb-3">
                    <img class="card-img center" src="https://www.artzolo.com/sites/default/files/homepage/drawings.jpg" alt="">
                    <a href="drawings" class="stretched-link"></a>
                </div>
            </div>

            <div class="col-sm">      
                <div class="card mb-3">
                    <img class="card-img center" src="https://www.artzolo.com/sites/default/files/homepage/charcoals.jpg" alt="">
                    <a href="charcoals" class="stretched-link"></a>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Collections ends here -->
    
        <!-- Authors starts here -->
        <!-- <p id="scrollspyHeading3" class="display-4 mb-4"> Artists</p>     -->

    <!-- About Us -->
    <p id="scrollspyHeading4" class="display-4 mb-4">Hub of Contemporary Indian Art & Artists</p>    

    <div class="row">
        <div class="col">
            <p class="lead container">Sanskriti is the one-stop destination for all the art lovers. Art has always been an integral part of society, not today but since the time humans had started civilizing. Not just the photographic presentation of the shapes around, art also tends to depict and share the complete experience of the moment enveloped in those photographs. Love, passion, and admiration of art stem up the basis of Sanskriti Arts. Various kinds of art forms have existed and still exist in this world, each of which has a unique story and technique involved with it. Each artist associates himself with a certain school of imagination. With 1000+ artists and over 16,000 artworks on display, Sanskriti arts has the presence of multitudinous artworks by various artists. Be it Ancient Indian heritage art forms or the abstract art or the contemporary or the modern art and whatnot, Sanskriti has them all. Sanskriti is the one-stop solution for all the artists and art lovers.</p>
        </div>
        <div class="col">
            <img class="container" src="https://www.archerindia.com/pub/media/WYSWYG/gallery.png" alt="">
        </div>
    </div>
</div>
