<div class="container">
    <div class="row">

        <!-- <div class="column">
          <div class="card" *ngFor="let i of painting">
            <img src="https://www.artzolo.com/sites/default/files/styles/product_full/public/uploads/multi/13125/largest/gate-sagar-palwe.jpg" style="object-fit: cover;" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-subtitle">{{i.artist}}</p>
                    <p class="card-subtitle">{{i.category}}</p>
                    <p class="card-subtitle">{{i.dimension}}</p>
                    <p class="card-subtitle"><b>INR {{i.price}}</b></p>
                    <a routerLink='' class="stretched-link"></a>
                </div>
          </div>
        </div> -->
      
        <div class="column">
          <div class="card">
            <img src="https://www.artzolo.com/sites/default/files/styles/product_full/public/uploads/multi/13125/largest/gate-sagar-palwe.jpg" style="object-fit: cover;" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">paintings</h5>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle"><b>INR paintings</b></p>
                    <a routerLink='' class="stretched-link"></a>
                </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="https://www.artzolo.com/sites/default/files/styles/product_full/public/uploads/multi/13125/largest/gate-sagar-palwe.jpg" style="object-fit: cover;" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">paintings</h5>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle"><b>INR paintings</b></p>
                    <a routerLink='' class="stretched-link"></a>
                </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="https://www.artzolo.com/sites/default/files/styles/product_full/public/uploads/multi/13125/largest/gate-sagar-palwe.jpg" style="object-fit: cover;" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">paintings</h5>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle">paintings</p>
                    <p class="card-subtitle"><b>INR paintings</b></p>
                    <a routerLink='' class="stretched-link"></a>
                </div>
          </div>
        </div>
      </div>
</div>

