<div class="d-flex justify-content-center">
    <div class="form ">
        <p class="lead text-center" style="font-size:xx-large ;">Register</p>
        <hr style="color: red;">
        <br>
        <form>
            <div class="mb-3">
            <p class="lead"><b>Personal Information</b></p>
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <p class="lead"><b>Sign-in Information</b></p>
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            <div class="text-center"><button type="submit" class="btn btn-danger" >Create an Account</button></div>
        </form>
    </div>
</div>

